body {
  font-family: 'Forum', cursive;
  background-color: #efc2b5;
  margin-top: 1.5rem; 
  margin-bottom: 1.5rem; 
  margin-left: 16rem; 
  margin-right: 16rem;
  padding-block: 10px
}
nav {
  background-color: #efc2b5;
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: right;
}
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  transition: text-decoration 0.3s ease;
}
a:hover {
  text-decoration: underline;
}
.navLink{
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}
p.solid {
  border-left-style: solid;
  border-color: #d1b5ef;
  margin: 1;
  padding: 2;
}
img {
  width: 30%;
  border-color: #d1b5ef;
  float: left;
  margin-right: 1rem
}
.circle-crop {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.circle-crop img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
header {
  text-align: center;
  color: white;
  margin-top: 150px;
  margin-bottom: 150px;
}
h1 .subtitle {
  font-family: 'Forum', cursive;
  font-size: 18px;
  font-style: italic;
  color: black;
  line-height:.5rem;
}
.social-icons {
  display: flex;
  align-items: center;
}
.social-icons a {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}
 .firstGraph::first-letter {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  padding-right: 0.5rem;
  padding-left: 1rem;
  float: left;
}
 .secondGraph::first-letter {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  padding-left: 0.5rem;
  float: left;
}
 .floatLeft {
  float: left;
  width: 100%;
}
.floatRight {
  float: right;
  width: 30%;
  margin: 1rem 3rem 2rem 3;
  padding: 0.2rem 1rem 0 1rem;
}
h1 {
  color: black;
  font-family: Shrikhand, sans-serif; 
  font-size: 30px;
  text-align: left;
  padding: 12px;
}
h2 {
  color: white;
  text-align: right;
  font-family: Shrikhand, sans-serif; 
  border-bottom-style: solid;
  border-color: white;
}
h3 {color: black;
  font-family: Shrikhand, sans-serif; 
  text-align: center;
}